.my_arts__container {
  width: 330px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.my_arts__container .my_arts__image--container {
  max-width: 100%;
  height: 180px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-light-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.my_arts__container .my_arts__image--container .my_arts__image--image {
  padding: 0.5rem;
  width: 200px;
  filter: drop-shadow(0 12px 4px var(--black-color));
}

.my_arts__container .my_arts__image--container .my_arts__image--image-arts {
  padding: 0.5rem;
  width: 180px;
  filter: drop-shadow(0 12px 4px var(--black-color));
}

.my_arts__container .my_arts__image--container .my_arts__image--image-arts {
  width: 170px;
}

.my_arts__container .my_arts__information--container {
  margin-top: 1rem;
  width: 90%;
}

.my_arts__container
  .my_arts__information--container
  .my_arts__information--title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  /* width: 90%; */
}

.my_arts__container
  .my_arts__information--container
  .my_arts__information--company-container {
  display: flex;
  justify-content: space-between;
}

.my_arts__container
  .my_arts__information--container
  .my_arts__information--company-container
  .my_arts__information--company-paragraph {
  width: 50%;
}
/* @media screen and (min-width: 768px) {
  .my_arts__container {
    flex-direction: row-reverse;
  }

  .my_arts__container .my_arts__image--container {
    width: 80%;
    background-color: transparent;
    border-radius: var(--border-radius);
  }

  .my_arts__container
    .my_arts__image--container
    .my_arts__image--image {
    max-width: 100%;
  }

  .my_arts__container .my_arts__information--container {
    margin-top: 1rem;
    width: 80%;
    align-self: center;
  }

  .my_arts__container
    .my_arts__information--container
    .my_arts__information--title {
    font-size: var(--font-paragraph);
    margin-bottom: 0.5rem;
  }

  .my_arts__container
    .my_arts__information--container
    .my_arts__information--company-container
    .my_arts__information--company-paragraph {
    font-size: var(--font-small-paragraph);
    width: 45%;
  }
} */

/* @media screen and (min-width: 1024px) {
  .my_arts__container
    .my_arts__information--container
    .my_arts__information--title {
    font-size: var(--font-secondary);
    margin-bottom: 0.5rem;
  }

  .my_arts__container
    .my_arts__information--container
    .my_arts__information--company-container
    .my_arts__information--company-paragraph {
    font-size: var(--font-paragraph);
  }
} */
