.my_experience__container .my_experience__title {
  width: 85%;
  justify-self: center;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 0 0 1rem;
}

.my_experience__container .my_experience__list {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  width: 85%;
  justify-self: center;
}
