.portfolio_description__main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, minmax(40px, 9.4vh));
  overflow: hidden;
  place-items: center;
}

.portfolio_description__main-container
  .portfolio_description__title--container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 85%;
  height: fit-content;
  padding: 1rem 0;
}

.portfolio_description__main-container
  .portfolio_description__title--container
  h1 {
  font-size: 1.5rem;
  font-weight: var(--font-semibold);
  color: var(--blue-light-color);
}

.portfolio_description__main-container
  .portfolio_description__title--container
  h2 {
  color: var(--white-color);
  font-weight: var(--font-regular);
  font-size: 1rem;
  line-height: normal;
}

.portfolio_description__main-container
  .portfolio_description__content--container {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  place-self: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
}

.portfolio_description__main-container .portfolio_description__text--rrss,
.portfolio_description__main-container .portfolio_description__text--web {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.portfolio_description__main-container
  .portfolio_description__image-rrss--container {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.portfolio_description__main-container
  .portfolio_description__image-rrss--container
  img {
  width: 350px;
  filter: drop-shadow(0 12px 4px var(--black-light-color));
}

.portfolio_description__main-container
  .portfolio_description__image-project--container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

.portfolio_description__main-container
  .portfolio_description__image-project--container
  img {
  width: 380px;
  filter: drop-shadow(0 12px 4px var(--black-light-color));
}

.portfolio_description__main-container
  .portfolio_description__buttons--container {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
}
