#contact .card__contact {
  height: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 2rem;
  background-color: #252525;
  border-radius: 1.5rem;
}

#contact .card__contact .design {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact .card__contact picture img {
  width: 80%;
}

#contact .form__container {
  width: 50%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  display: block;
}

#contact .form__container .form {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  display: block;
  justify-content: center;
}

#contact .form__container .form button {
  width: 500px;
  display: block;
}
