main .container-fluid {
  height: 90vh;
  /* background-color: #fff; */
}
#home {
  position: relative;
}

#home picture {
  display: flex;
  align-content: flex-end;
  height: 100%;
  /* background-color: azure; */
}

#home picture .img__perfil {
  width: 50%;
  padding-bottom: 0px;
}

#home .overlay {
  position: absolute;
  /* background-color: #333333; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home .overlay h1 {
  font-size: 9rem;
  margin-bottom: 0;
  color: var(--white);
  text-shadow: -6px 8px 3px rgba(233, 233, 233, 0.1);
  font-family: "Gruppo", cursive;
  text-align: center;
}

#home .overlay .lastname {
  padding-right: 100px;
  text-align: end;
}

#home .overlay .row h2 {
  border-top: 0 solid #fff;
}

#home .overlay .row p {
  border-bottom: 9px solid #fff;
  font-size: 2rem;
  text-align: justify;
}

#home .overlay .subtitle {
  text-align: end;
}

#home .overlay .container,
#home .overlay .row {
  height: 100%;
}

#home .overlay .row {
  display: flex;
}

#home .overlay .col h2 {
  padding-top: 0px;
  font-size: 4.2rem;
  line-height: 1.5;
  margin-top: 180px;
  margin-left: 650px;
}

#home .overlay .col p {
  margin-left: 650px;
}

#home .overlay .subtitle,
#home .overlay p {
  display: flex;
  display: block;
  text-align: center;
}

#home .overlay__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home .overlay__background .circle {
  height: 200px;
  width: 200px;
  margin-top: 3%;
  margin-left: 5%;
  box-shadow: inset 50px 0px 50px rgba(51, 51, 51, 0.8);
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
}

#home .overlay__background .circle_1 {
  height: 120px;
  width: 120px;
  margin-top: 3%;
  margin-left: 78%;
  box-shadow: inset 10px 0px 10px rgba(51, 51, 51, 0.8);
  background-color: #fff;
  border-radius: 50%;
  z-index: 30;
}

#home .overlay__background .circle_2 {
  height: 90px;
  width: 90px;
  margin-top: 1%;
  margin-left: 55%;
  box-shadow: inset 10px 0px 10px rgba(51, 51, 51, 0.8);
  background-color: #fff;
  border-radius: 50%;
  z-index: 20;
}

/* About */
#about {
  height: 60vh;
  padding-top: 0px;
  /* background-color: antiquewhite; */
}

#about .about__biography {
  display: flex;
  align-self: center;
  display: block;
}

#about .about__biography h3 {
  display: flex;
}

#about .about__biography h3,
#about .about__biography p {
  text-align: start;
}

#about picture .logo {
  width: 50%;
}

/* Experience */
#experience {
  height: 70vh;
}

#experience .title__experience {
  text-align: center;
}

#experience .card__experince {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #252525;
  border-radius: 1.5rem;
  padding: 10px 5px;
}
