:root {
  /* Colors */
  --black: #222222;
  --white: #ffffff;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  color: var(--white);
  background-color: #222222;
}

/* HEARDER */

/* nav */
header {
  position: sticky;
  top: 0px;
  background-color: var(--black);
}

nav li a,
nav picture a {
  color: var(--white) !important;
}

nav picture img {
  width: 40px;
}

nav ul li i {
  font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
  /* border-color: #fff; */
}

/* /HEARDER */

/* BODY */
#contact {
  display: flex;
  height: 100%;
  align-items: center;
}

#contact .title__contact {
  display: flex;
}

#contact .title__contact--item {
  display: flex;
  justify-content: center;
  height: 120px;
  display: block;
}

#contact .title__contact--item h1,
#contact .title__contact--item p {
  display: flex;
  display: block;
  text-align: center;
}

#contact .card__contact {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 2rem;
  background-color: #252525;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
}

#contact .card__contact picture img {
  width: 100%;
}

#contact .card__contact .design {
  height: 350px;
  display: flex;
  align-items: center;
}

#contact .form__container {
  width: 100%;
}
