:root {
  /* Colors */
  --black: #222222;
  --white: #ffffff;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  color: var(--white);
  background-color: #222222;
}

/* HEARDER */

/* nav */
header {
  position: sticky;
  top: 0px;
  background-color: var(--black);
}

nav li a,
nav picture a {
  color: var(--white) !important;
}

nav picture img {
  width: 40px;
}

nav ul li i {
  font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
  /* border-color: #fff; */
}

/* /HEARDER */
main {
  height: 70vh;
  display: flex;
  align-items: center;
}

main picture img {
  width: 100%;
}
